/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT     0
#define SML_MODS    1
#define NUM_MODS    2
#define BT_CTRL     3
#define FW_CTRL     4


/ {
    behaviors {
        dqenter: dqt_enter {
            compatible = "zmk,behavior-mod-morph";
            label = "DQT_ENTER";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&kp COLON>;
            mods = <MOD_LSFT>;
        };
        qtab: q_tab {
            compatible = "zmk,behavior-tap-dance";
            label = "Q_TAB";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp TAB>;
        };
        pbspc: p_bspc {
            compatible = "zmk,behavior-tap-dance";
            label = "P_BSPC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp P>, <&kp BSPC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &none      &qtab        &kp W    &kp E     &kp R           &kp T        &kp Y      &kp U          &kp I          &kp O          &pbspc          &none
    &none      &mt LCTRL A  &kp S    &kp D     &kp F           &kp G        &kp H      &kp J          &kp K          &kp L          &dqenter        &none
    &none      &mt LSHFT Z  &kp X    &kp C     &kp V           &kp B        &kp N      &kp M          &kp COMMA      &kp DOT        &mt RSHFT FSLH  &none
    &none      &kp ESC      &kp LALT &kp LGUI  &lt 1 SPACE     &none        &none      &lt 2 SPACE    &mt RGUI       &none          &none           &none
            >;
        };

        sml_mods {
            bindings = <
    &trans     &kp EXCL      &kp AT     &kp HASH   &kp DLLR      &kp PRCNT  &kp CARET     &kp AMPS    &kp ASTRK  &kp LPAR   &kp RPAR        &none
    &trans     &lt 4 F1      &kp F2     &kp F3     &kp F4        &kp F5     &kp F6        &kp UNDER   &kp PLUS   &kp LBRC   &kp RBRC        &none
    &trans     &mt LSHFT F7  &kp F8     &kp F9     &kp F10       &kp F11    &kp F12       &kp MINUS   &kp GRAVE  &kp DQT    &mt RSHFT BSLH  &none
    &trans     &kp LCTRL     &trans     &trans     &trans        &trans     &trans        &mo BT_CTRL &kp DEL    &trans     &trans          &none
            >;
        };

        num_mods {
            bindings = <
    &trans     &kp N1         &kp N2   &kp N3   &kp N4        &kp N5     &kp N6       &kp N7       &kp N8     &kp N9    &kp N0         &none
    &trans     &lt 4 F1       &kp F2   &kp F3   &kp F4        &kp F5     &kp F6       &kp MINUS    &kp EQUAL  &kp LBKT  &mt COLON RBKT &none
    &trans     &mt LSHFT F7   &kp F8   &kp F9   &kp F10       &kp F11    &kp F12      &kp PLUS     &kp SEMI   &kp SQT   &mt RSHFT PIPE &none
    &trans     &kp LCTRL      &trans   &trans   &mo BT_CTRL   &trans     &trans       &trans       &trans     &trans    &trans         &none
            >;
        };

        bt_control {
            bindings = <
    &none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4   &none   &none   &none   &none  &bt BT_CLR  &none
    &none        &none         &none         &none         &none          &none          &none   &none   &none   &none  &none       &none
    &none        &none         &none         &none         &none          &bootloader    &none   &none   &none   &none  &none       &none
    &none        &none         &none         &none         &trans         &trans         &none   &trans  &none   &none  &none       &none
            >;
        };
        
        game_layer_fn {
                        bindings = <
   &none   &kp TAB   &none     &kp UP    &none       &none        &kp C_PP  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  &kp BSPC   &none
   &none   &mo 4     &kp LEFT  &kp DOWN  &kp RIGHT   &none        &kp LEFT  &kp DOWN      &kp UP        &kp RIGHT   &kp ENTER  &none
   &none   &kp LSHFT &none     &none     &none       &none        &kp HOME  &kp END       &kp PG_UP     &kp PG_DN   &kp RSHFT  &none
   &none   &none     &none     &none     &kp SPACE   &trans       &trans    &kp SPACE     &none         &none       &none      &none            
                        >;
                };
    };
};
